<% layout('layouts/boilerplate')%>
<div class="h-100 bg-light rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h6 class="mb-0">Messages</h6>
        <a href="">Show All</a>
    </div>
    <!-- reciever-->
    <% chat.msg.forEach(function(msgs,i){ %>
        <% if (msgs.msg_sender === user.email) { %>
            <div class="d-flex flex-row-reverse align-items-start mb-border-bottom py-2">
                <a href="/profile/<%= user.name %>"><img class="rounded-circle flex-shrink-0" src="<%= user.pic %>" alt="" style="width: 40px; height: 40px;"></a>
                <div class="d-flex flex-column py-2 px-3 me-1 message-box" style="background-color: #FFB6C1;">
                    <div class="d-flex align-self-end ">
                        <h6 class="mb-2"><a href="/profile/<%= user.name %>"><%= msgs.msg_sender %> </a></h6>
                    </div>
                    <span style="color: #47555c;"><%= msgs.conv %> </span>
                </div>
            </div>
            <% }else{ %>
                <div class="d-flex align-items-start mb-border-bottom py-2">
                    <a href="/profile/<%= receiver.name %>"><img class="rounded-circle flex-shrink-0" src="<%= receiver.pic %>" alt="" style="width: 40px; height: 40px;"></a>
                    <div class="d-flex flex-column py-2 px-3 ms-1 message-box" style="background-color: #AFEEEE;"">
                        <div class="d-flex">
                            <h6 class="mb-2"><a href="/profile/<%= receiver.name %>"><%= msgs.msg_sender %> </a></h6>
                        </div>
                        <span style="color: #47555c;"><%= msgs.conv %> </span>
                    </div>
                </div>
            <% } %> 
    <% }) %>
    <!--sender-->
    

    <footer class="d-flex footer direct-chat direct-chat-primary" style="position: sticky; bottom: 0;">
        <div class="input-group">
            <% if (user.email !== item.owner_email) { %>
                <form class="input-group" action="/buyerSendMsg" method="POST">
                    <input type="text" name="item_name" value="<%= item.item_name %>" hidden />
                    <input type="text" name="owner_email" value="<%= item.owner_email %>" hidden />
                    <input type="text" name="buyer_email" value="<%= user.email %>" hidden />
                    <input type="text" name="msg" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
                    </span>
                </form>
                <% }else{ %> 
                    <form class="input-group" action="/ownerSendMsg" method="POST">
                        <input type="text" name="item_name" value="<%= item.item_name %>" hidden />
                        <input type="text" name="owner_email" value="<%= item.owner_email %>" hidden />
                        <input type="text" name="buyer_email" value="<%= item.buyer_email %>" hidden />
                        <input type="text" name="msg" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat">Send</button>
                        </span>
                    </form>
                <% } %> 
        </div>
    </footer>
