<%- layout('layouts/boilerplate') %>
    <div id="top"></div>
    <div class="d-flex align-items-center justify-content-between mb-4 pt-4 px-4">
        <div class="ms-3">
            <p class="mb-2">Messages Received</p>
        </div>
    </div>
    <!-- chat Box -->
    <div class=" py-3 px-3">
        <div class="overflow-auto h-50 bg-light rounded p-4">
                <% chats.forEach(function(single_item_chat){%>
                    <div class="d-flex align-items-center border-bottom py-3">
                    Item: <%= single_item_chat.item_name %>
                    <% single_item_chat.chats.forEach(function(individual,i){ %>
                        <div class="w-100 ms-3">
                            
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-0"><%= individual.buyer_email %> </h6>
                            </div>
                            <form class="input-group" action="/chatWithBuyer" method="POST">
                                <input type="text" name="item_name" value="<%= single_item_chat.item_name %>" hidden />
                                <input type="text" name="owner_email" value="<%= user.email %>" hidden />
                                <input type="text" name="buyer_email" value="<%= individual.buyer_email %>" hidden />
                                <span class="input-group-btn">
                                    <%= individual.msg[individual.msg.length-1].conv %>
                                    <button type="submit" class="btn btn-primary btn-flat">Go to Buyer's chat</button>
                                </span>
                            </form>
                            <span> <%# individual.msg[individual.msg.length-1].conv %>  </span>
                        </div>
                    <% }) %>  
                </div>
                <% }) %>  
            </div>
    </div>